.change-color {
    fill: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    font-weight: bold;
    max-height: 740px;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #4792c4;
    max-height: 100%;
}

.header {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    min-width: 700px;
    max-height: 100px;
    margin-right: 12px;
}

.content {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    max-height: 100%;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 25px;
    font-size: 20px;
    margin-top: 16px;
    gap: 8px;
    min-width: 175px;
}

#dash-icon {
    height: 36px;
    width: 36px;
    align-self: center;
    justify-self: center;
}

#dash-title {
    align-self: center;
}

.top-sidebar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 8px;
}

.bottom-sidebar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 8px;
}

.icon {
    align-self: center;
    justify-self: center;
}

svg {
    align-self: center;
    justify-self: center;
    height: 20px;
    width: 20px;
}

.menu-item {
    color: white;
    font-weight: bold;
}

.top-header {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    margin-top: 16px;
    align-items: center;
}

.profile-logo {
    height: 60px;
    width: 60px;
}

.searchbar {
    display: flex;
    gap: 16px;
    align-self: center;
    align-items: center;
}

.search {
    width: 85%;
    padding: 4px;
    border-radius: 8px;
    border:none;
    background-color: #f2f4f5;
}

input:focus {
    border: none;
}

.right-navbar {
    display: flex;
    gap: 12px;
    justify-content: center;
    justify-self: end;
}

.hi {
    font-size: 12px;
}

.buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
    height: 30px;
    justify-self: end;
}

button {
    background-color: #4792c4;
    border-radius: 16px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    font-weight: bold;
}

.content {
    background-color: #f2f4f5;
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 8px;
    box-shadow: 0px 1px 8px darkgray inset;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
    flex: 1;
}

.left-content {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-top: 32px;
    margin: 8px;
    background-color: white;
    border-left: 5px solid gold;
    border-radius: 6px;
    box-shadow: 1px 1px 10px darkgray;
}

.your_projects {
    margin-left: 8px;
}

.right-content {
    background-color: #f2f4f5;;
    display: grid;
    gap: 16px;
    margin-left: 8px;
    grid-template-rows: 1fr 1fr;
}

.announcement_card, .trending_card {
    background-color: white;
    box-shadow: 1px 1px 10px darkgray;
    margin-top: 8px;
    border-radius: 6px;
}

.card_content {
    color: darkgray;
    font-weight: bold;
    font-size: 12px;
}

.star, .branch, .eye {
    background-color: white;
    padding: 0px;
}

.card_buttons {
    margin-top: auto;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.announcement_card {
    font-size: 12px;
    display: grid;
    padding: 16px;
    gap: 8px;
    flex: 1;
}

.announcement_content {
    font-weight: normal;
    color: darkgray;
}

.topic {
    display: flex;
    gap: 8px;
    align-self: center;
}

.topic_info {
    align-self: center;
}

.topic_icon {
    align-self: center;
    justify-self: center;
    height: 48px;
    width: 48px;
}

.trending_card {
    display: grid;
    gap: 8px;
    padding: 16px;
    font-size: 12px;
    flex: 1;
}

.card_name {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.topic_title {
    font-weight: bold;
    font-size: 14px;
}

.topic_content {
    font-weight: normal;
    color: darkgray;
}

.announcement {
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
    display: grid;
    align-items: center;
}

#last_announcement {
    border: none;
    padding-bottom: none;
}